@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-marquee-slow {
    animation: marquee-slow 40s linear infinite;
  }

  .hover-pause:hover {
    animation-play-state: paused !important;
  }

  @keyframes marquee-slow {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
}

